/* != Proxima Nova ====================================== */

@font-face { font-family: 'ProximaNova';
src: url('../fonts/Proxima-Nova/ProximaNova-Thin-webfont.eot');
src: url('../fonts/Proxima-Nova/ProximaNova-Thin-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Proxima-Nova/ProximaNova-Thin-webfont.woff') format('woff'), url('../fonts/Proxima-Nova/ProximaNova-Thin-webfont.ttf') format('truetype'), url('../fonts/Proxima-Nova/ProximaNova-Thin-webfont.svg#proxima_nova_ththin') format('svg');
font-weight: 200; font-style: normal; }

@font-face { font-family: 'ProximaNova';
src: url('../fonts/Proxima-Nova/ProximaNova-ThinIt-webfont.eot');
src: url('../fonts/Proxima-Nova/ProximaNova-ThinIt-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Proxima-Nova/ProximaNova-ThinIt-webfont.woff') format('woff'), url('../fonts/Proxima-Nova/ProximaNova-ThinIt-webfont.ttf') format('truetype'), url('../fonts/Proxima-Nova/ProximaNova-ThinIt-webfont.svg#proxima_novathin_italic') format('svg');
font-weight: 200; font-style: italic; }

@font-face { font-family: 'ProximaNova';
src: url('../fonts/Proxima-Nova/ProximaNova-Light-webfont.eot');
src: url('../fonts/Proxima-Nova/ProximaNova-Light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Proxima-Nova/ProximaNova-Light-webfont.woff') format('woff'), url('../fonts/Proxima-Nova/ProximaNova-Light-webfont.ttf') format('truetype'), url('../fonts/Proxima-Nova/ProximaNova-Light-webfont.svg#proxima_nova_ltlight') format('svg');
font-weight: 300; font-style: normal; }

@font-face { font-family: 'ProximaNova';
src: url('../fonts/Proxima-Nova/ProximaNova-LightIt-webfont.eot');
src: url('../fonts/Proxima-Nova/ProximaNova-LightIt-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Proxima-Nova/ProximaNova-LightIt-webfont.woff') format('woff'), url('../fonts/Proxima-Nova/ProximaNova-LightIt-webfont.ttf') format('truetype'), url('../fonts/Proxima-Nova/ProximaNova-LightIt-webfont.svg#proxima_novalight_italic') format('svg');
font-weight: 300; font-style: italic; }

@font-face { font-family: 'ProximaNova';
src: url('../fonts/Proxima-Nova/ProximaNova-Reg-webfont.eot');
src: url('../fonts/Proxima-Nova/ProximaNova-Reg-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Proxima-Nova/ProximaNova-Reg-webfont.woff') format('woff'), url('../fonts/Proxima-Nova/ProximaNova-Reg-webfont.ttf') format('truetype'), url('../fonts/Proxima-Nova/ProximaNova-Reg-webfont.svg#proxima_nova_rgregular') format('svg');
font-weight: 400; font-style: normal; }

@font-face { font-family: 'ProximaNova';
src: url('../fonts/Proxima-Nova/ProximaNova-RegIt-webfont.eot');
src: url('../fonts/Proxima-Nova/ProximaNova-RegIt-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Proxima-Nova/ProximaNova-RegIt-webfont.woff') format('woff'), url('../fonts/Proxima-Nova/ProximaNova-RegIt-webfont.ttf') format('truetype'), url('../fonts/Proxima-Nova/ProximaNova-RegIt-webfont.svg#proxima_novaregular_italic') format('svg');
font-weight: 400; font-style: italic; }

@font-face { font-family: 'ProximaNova';
src: url('../fonts/Proxima-Nova/ProximaNova-Sbold-webfont.eot');
src: url('../fonts/Proxima-Nova/ProximaNova-Sbold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Proxima-Nova/ProximaNova-Sbold-webfont.woff') format('woff'), url('../fonts/Proxima-Nova/ProximaNova-Sbold-webfont.ttf') format('truetype'), url('../fonts/Proxima-Nova/ProximaNova-Sbold-webfont.svg#proxima_nova_ltsemibold') format('svg');
font-weight: 500; font-style: normal; }

@font-face { font-family: 'ProximaNova';
src: url('../fonts/Proxima-Nova/ProximaNova-SboldIt-webfont.eot');
src: url('../fonts/Proxima-Nova/ProximaNova-SboldIt-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Proxima-Nova/ProximaNova-SboldIt-webfont.woff') format('woff'), url('../fonts/Proxima-Nova/ProximaNova-SboldIt-webfont.ttf') format('truetype'), url('../fonts/Proxima-Nova/ProximaNova-SboldIt-webfont.svg#proxima_novasemibold_italic') format('svg');
font-weight: 500; font-style: italic; }

@font-face { font-family: 'ProximaNova';
src: url('../fonts/Proxima-Nova/ProximaNova-Bold-webfont.eot');
src: url('../fonts/Proxima-Nova/ProximaNova-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Proxima-Nova/ProximaNova-Bold-webfont.woff') format('woff'), url('../fonts/Proxima-Nova/ProximaNova-Bold-webfont.ttf') format('truetype'), url('../fonts/Proxima-Nova/ProximaNova-Bold-webfont.svg#proxima_nova_rgbold') format('svg');
font-weight: 600; font-style: normal; }

@font-face { font-family: 'ProximaNova';
src: url('../fonts/Proxima-Nova/ProximaNova-BoldIt-webfont.eot');
src: url('../fonts/Proxima-Nova/ProximaNova-BoldIt-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Proxima-Nova/ProximaNova-BoldIt-webfont.woff') format('woff'), url('../fonts/Proxima-Nova/ProximaNova-BoldIt-webfont.ttf') format('truetype'), url('../fonts/Proxima-Nova/ProximaNova-BoldIt-webfont.svg#proxima_novabold_italic') format('svg');
font-weight: 600; font-style: italic; }

@font-face { font-family: 'ProximaNova';
src: url('../fonts/Proxima-Nova/ProximaNova-Xbold-webfont.eot');
src: url('../fonts/Proxima-Nova/ProximaNova-Xbold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Proxima-Nova/ProximaNova-Xbold-webfont.woff') format('woff'), url('../fonts/Proxima-Nova/ProximaNova-Xbold-webfont.ttf') format('truetype'), url('../fonts/Proxima-Nova/ProximaNova-Xbold-webfont.svg#proxima_nova_thextrabold') format('svg');
font-weight: 700; font-style: normal; }

@font-face { font-family: 'ProximaNova';
src: url('../fonts/Proxima-Nova/ProximaNova-XboldIt-webfont.eot');
src: url('../fonts/Proxima-Nova/ProximaNova-XboldIt-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Proxima-Nova/ProximaNova-XboldIt-webfont.woff') format('woff'), url('../fonts/Proxima-Nova/ProximaNova-XboldIt-webfont.ttf') format('truetype'), url('../fonts/Proxima-Nova/ProximaNova-XboldIt-webfont.svg#proxima_novaextrabold_italic') format('svg');
font-weight: 700; font-style: italic; }

@font-face { font-family: 'ProximaNova';
src: url('../fonts/Proxima-Nova/ProximaNova-Black-webfont.eot');
src: url('../fonts/Proxima-Nova/ProximaNova-Black-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Proxima-Nova/ProximaNova-Black-webfont.woff') format('woff'), url('../fonts/Proxima-Nova/ProximaNova-Black-webfont.ttf') format('truetype'), url('../fonts/Proxima-Nova/ProximaNova-Black-webfont.svg#proxima_nova_blblack') format('svg');
font-weight: 800; font-style: normal; }

@font-face { font-family: 'ProximaNova';
src: url('../fonts/Proxima-Nova/ProximaNova-BlackIt-webfont.eot');
src: url('../fonts/Proxima-Nova/ProximaNova-BlackIt-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Proxima-Nova/ProximaNova-BlackIt-webfont.woff') format('woff'), url('../fonts/Proxima-Nova/ProximaNova-BlackIt-webfont.ttf') format('truetype'), url('../fonts/Proxima-Nova/ProximaNova-BlackIt-webfont.svg#proxima_novablack_italic') format('svg');
font-weight: 800; font-style: italic; }

/* = STRUCTURE = no need to adjust ========================= */

    body{min-width:0;}

    .wp-core-ui .button-primary{border:none;-webkit-box-shadow:none;box-shadow:none;color:#fff;text-decoration:none;}
    .wp-core-ui .button-primary:hover{-webkit-box-shadow:none;box-shadow:none;border:none;}

    #login{padding:20px;margin:30px auto 0;}
    #jrd-login{background:url(../images/jrd.png) no-repeat 75px top;margin:0 auto;display:block;padding:0 0 15px;width:320px;height:70px;}

    .login form{box-shadow:none;background:#fff;-webkit-box-shadow:0 1px 3px rgba(0,0,0,.13);box-shadow:0 1px 3px rgba(0,0,0,.13);}
    .login #nav{text-align:center;}
    .login #backtoblog{text-align:center;margin:5px 0 0;border-bottom:1px solid #d8d8d8;padding:0 0 20px;}
    .login #backtoblog a,
        .login #nav a{font-weight:100;}
    .login #backtoblog a:hover,
        .login #nav a:hover{font-weight:100;}



/* = STYLES = customize for the site ========================= */

    html, body{background:#f3f3f3;color:#444;}

    .wp-core-ui .button-primary{color:#fff;}
    .wp-core-ui .button-primary:hover{}

    .login label, .forgetmenot label{color:#10887E;}

    .wp-core-ui .button-primary{background:#D14124;}
    .wp-core-ui .button-primary:hover{background:#D5543A;}

    body.login #login h1 a{background:url(../images/logo-login.png) no-repeat;width:290px;height:133px; margin-bottom:65px;}

    .login #nav a:hover,
    .login #backtoblog a:hover,
    .login h1 a:hover{color:#fff; font-weight:600;}


    #login { margin:0; padding:100px 0 175px;; width:100%; position:relative; overflow:hidden; background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, #1B5F93),
	color-stop(1, #0E4C7B)
);
background-image: -o-linear-gradient(bottom, #1B5F93 0%, #0E4C7B 100%);
background-image: -moz-linear-gradient(bottom, #1B5F93 0%, #0E4C7B 100%);
background-image: -webkit-linear-gradient(bottom, #1B5F93 0%, #0E4C7B 100%);
background-image: -ms-linear-gradient(bottom, #1B5F93 0%, #0E4C7B 100%);
background-image: linear-gradient(to bottom, #1B5F93 0%, #0E4C7B 100%);
    }

    .login .message { border:none; background:none; text-align:center; color:#fff; color:rgba(255, 255, 255, 0.6); box-shadow:none; font-family:'ProximaNova'; padding-bottom:40px; }

    .login #login_error { width:350px; margin:0 auto; box-sizing:border-box; background:none; border:1px solid #78B750; color:#fff; margin-bottom:40px; }
    .login #login_error strong { color:#78B750; }

    #loginform, #lostpasswordform { width:350px; margin:0 auto; background:none; padding:0; box-shadow:none; overflow:visible; position: relative; z-index:100;}

    .login label, .forgetmenot label { font:600 14px ProximaNova; color:#74B943; text-transform: uppercase; }

    .login form .input, .login form input[type="checkbox"], .login input[type="text"] { border:1px solid #D6DADC; color:#7B7B7B; height:48px; margin:9px 6px 28px 0px; font-weight:400; padding:0 10px; font-family:ProximaNova; }

    .forgetmenot { display:none; }

    #login form p.submit { text-align:center; margin:20px 0 30px; }
    #wp-submit { padding:0 50px; display:inline-block; border-radius:18px; background:#78B750; font:16px/36px ProximaNova; color:#fff; text-transform: uppercase; float:none; height:36px; box-shadow:0 1px 3px rgba(0,0,0,0.3); }
    #wp-submit:hover { background:#fff; color:#78B750; }

    .login #backtoblog a, .login #nav a { color:#78B750; font-family:'ProximaNova'; font-weight:600; font-size:15px; }

    #backtoblog { display:none; }

    #footer { max-width:1100px; margin:auto; text-align: center;}
	#companyinfo { width:100%; margin:0 auto;}
	.footspacer { padding-top:20px;}
	.address { float:left; font-size: 12px; color: #999999; line-height: 15px; padding-top: 10px;}
	.copyright { float:right; text-align: right; font-size: 12px; color: #999999; line-height: 15px; padding-top: 10px;}
	.copyright a { color: #999999; }
	.capitalize { text-transform: uppercase;}
	.jackrabbit a:hover {color:#76B84A;}
	.foot1:after {content:""; white-space: pre;}
	.foot2:after {content:""; white-space: pre;}

    .circle { position:absolute; border-radius:100%; display:block; box-sizing:border-box; }

    .c1 { width:108px; height:108px; margin-left:-54px; left:9%; top:-20px; background:#16AAE5; border:5px solid #015387; }
    .c2 { width:30px; height:30px; margin-left:-15px; left:21%; top:48px; background:#76B84A; }
    .c3 { width:74px; height:74px; margin-left:-37px; left:22%; top:185px; background:#1A6294; box-shadow:inset 0 0 0 3px #05426C, inset 0 0 0 6px #0F5E94; }
    .c4 { width:74px; height:74px; margin-left:-37px; left:10%; top:350px; background:#006A9C; box-shadow:inset 0 0 0 4px #17AEDD; border:3px solid #006A9C; }
    .c5 { width:30px; height:30px; margin-left:-15px; left:5.5%; top:430px; background:#76B84A; }
    .c6 { width:220px; height:220px; margin-left:-110px;; left:0%; top:518px; background:#074871; box-shadow: inset 0 0 0 3px #76B84A; border:15px solid #074871; z-index:10; }
    .c7 { width:74px; height:74px; margin-left:-37px; left:5.5%; top:693px; background:#006A9C; box-shadow:inset 0 0 0 4px #17AEDD; border:3px solid #006A9C; }
    .c8 { width:74px; height:74px; margin-left:-37px; left:10%; top:750px; background:#1A6294; box-shadow:inset 0 0 0 3px #05426C, inset 0 0 0 6px #014C7E; }
    .c9 { width:74px; height:74px; margin-right:-37px; right:2.7%; top:59px; background:#1A6294; box-shadow:inset 0 0 0 3px #05426C, inset 0 0 0 6px #0F5E94; }
    .c10 { width:108px; height:108px; margin-right:-54px; right:-2.6%; top:372px; background:#16AAE5; border:5px solid #015387; }
    .c11 { width:120px; height:120px; margin-right:-60px;; right:9.3%; top:536px; background:#074871; box-shadow: inset 0 0 0 3px #76B84A; border:7px solid #074871; z-index:10; }
    .c12 { width:82px; height:82px; margin-right:-41px; right:10.8%; top:645px; background:#006A9C; box-shadow:inset 0 0 0 4px #17AEDD; border:3px solid #006A9C; }
    .c13 { width:36px; height:36px; margin-right:-18px; right:5.5%; top:683px; background:#76B84A; box-shadow:inset 0 0 0 2px #104F7E; border:1px solid #17AEDD; }
    .c14 {}

    .i1 { width:220px; height:220px; border:15px solid #074871; top:164px; left:15%; margin-left:-110px; overflow:hidden; }
    .i2 { width:310px; height:310px; border:2px solid #76B84A; top:426px; left:24%; margin-left:-155px; overflow:hidden; padding:15px }
    .i3 { width:372px; height:372px; border:2px solid #76B84A; top:124px; right:15%; margin-right:-186px; overflow:hidden; padding:15px }
    .i4 { width:214px; height:214px; border:4px solid #05426C; top:547px; right:25%; margin-right:-107px; overflow:hidden; padding:5px }

    .i1, .i2, .i3, .i4 { z-index:12; }
    .i2 img, .i3 img, .i4 img { border-radius:100%; }
